<div class="gold-border spaced-box">
	<div class="well gold-box">
		@{
			ViewBag.Title = "About";
			ViewBag.Message = "Here at SiegeNut, we're committed to bringing you the latest and greatest in siege equipment as rated and reviewed by our thousands-strong community of expert tacticians";
		}
		<h2>@ViewBag.Title</h2>
	</div>
</div>

<div class="gold-border spaced-box">
	<div class="well gold-box">
		@ViewBag.Message
	</div>
</div>
