@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron spaced-box">
	<div class="well">
		<h1>SiegeNut</h1>
		<p class="lead">Your one-stop shop for any and all siege equipment</p>
	</div>
</div>

<div class="outer-border">
	<div class="row gold-box">
		<div class="col-md-4">
			<h2>Trebuchets</h2>
			<p>
				Lay castle towers and walls to waste! The most powerful of these devices can throw projectiles
				up to half a mile and strike within a half-foot of accuracy with every hit.
			</p>
		</div>
		<div class="col-md-4">
			<h2>Battering Rams</h2>
			<p>
				Break down the gates directly! For lightly guarded fortifications the direct approach is most efficient. Our stock
				ranges from simple tree trunks to mobile wheeled vehicles with swinging rams.
			</p>
		</div>
		<div class="col-md-4">
			<h2>Portcullises</h2>
			<p>
				Guard your castle entrance from pesky intruders with these classic iron gates. A sturdy iron lattice will frustrate intruders
				and keep your lordship safe for months at a time.
			</p>
		</div>
	</div>
</div>
